<!-- <div class="header">
    <div class="logo" (click)="goTOHome()">StreamFree</div>
    <div class="logout">
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </div>
   -->

   <div class="header">
    <div class="logo" (click)="goTOHome()">StreamFree</div>
    <div class="search-bar">
        <input type="text" class="search-input" placeholder="Search movies and series">
        <button class="search-button" >&#128269;</button>
    </div>
    <div class="logout">
        <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
</div>
