<app-header></app-header>
<div class="header">
  <h1>Welcome to StreamFree</h1>
  <p>Your Ultimate Destination for Movies and Series</p>
</div>
<div class="onboarding-container">
  <div class="step active" id="step1">
      <h2>Choose Your Interests</h2>
      <p>Select the genres you love to get personalized recommendations.</p>
      <ul class="genre-list">
          <li><button class="genere" (click) = "login()">Bollywood Movies</button></li>
          <li><button class="genere" (click) = "netflixLogin()">Netflix</button></li>
          <li><button class="genere" (click) = "login()">Web-Series</button></li>
          <!-- <li><a href = "https://t.me/HITThefirstCasen" target = "_blank">Telegram</a></li> -->
          
       </ul>
      <!-- <button onclick="nextStep()">Next</button> -->
  </div>

</div>