/* Styling for the entire home container */
.homr-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 20px ;
  }
  
  /* Styling for the "Trending Movies" section */
  .all-movies {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  
  .trending-movies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .trending-movies h4 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .view-all {
    font-size: 14px;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .view-all:hover {
    color: #333;
  }
  
  /* Styling for the movie thumbnails */
  .movie-thumbnail {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .movie {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cover img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
  }
  
  .details {
    padding: 10px;
    background-color: #1a1a1a;
    color: #fff;
  }
  
  .name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .rating {
    font-size: 14px;
    color: #888;
  }
/* ... Previous CSS rules ... */

.desc {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.desc:hover {
  color: #ffc107; /* Change the color to your desired hover color */
}

@media (max-width : 600px){
  .cover img{
    width : 50%;
    height : 50%;
  }
}
  